build/bin
build/gocache
build/gomodcache
node_modules
frontend/dist
frontend/package.json.md5
frontend/src/routeTree.gen.ts
frontend/.tanstack/tmp
.env

# Go
.gocache
.gomodcache
.go-pkg-cache
.go-pkg-cache-v2
.go-pkg-cache-v3
.go-pkg-cache-v4
.go-pkg-cache-v5


# JetBrains
.idea/*
!.idea/biome.xml
!.idea/vcs.xml
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/

*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite

